:root {
  /* colors */
  --color-gray: #d1d2d7;
  --color-gray-alt: #c2c2c2;
  --color-dark-gray: #aeaeae;
  --color-accent: #006bb8;
  --color-accent-alt: #73b222;
  --color-dark: #333;
  --color-light: #fff;
  --color-black: #000;
  --color-light-alt: #f6f6f8;
  --color-dec-elem: #f4f4f4;
  --color-not-found: #f35757;
  --color-red: #df3535;
  --color-red-alt: #ff0000;
  --color-green: #008000;
  --color-orange: #ff9a00;
  --color-orange-alt: #f0b761;
  --color-blue: #003594;
  --color-blue-alt: #0c6db4;
  --color-light-blue: #0071ce;
  --color-dark-blue: #3a4163;
  --color-dark-alt: #444455;
  --color-dark-gray-alt: #616161;

  /* container */
  --container-width: 600px;
  --container-padding-x: 20px;

  /* border-radius */
  --br-radius: 5px;

  /* button */
  --button-height: 30px;

  /* transition */
  --transition-duration: 0.3s;

  /* inputs */
  --input-height: 60px;
}

body {
  position: relative;
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.5;
  font-family: 'Onest', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  max-inline-size: calc(var(--container-width) + var(--container-padding-x) * 2);
}

.visually-hidden {
  position: absolute !important;
  clip-path: inset(100%) !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  white-space: nowrap !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.wrapper {
  margin-inline: auto;
  max-inline-size: calc(var(--container-width) + var(--container-padding-x) * 2);
  block-size: 100%;
  overflow: hidden;
}

.wrapper__main-content {
  display: grid;
  position: relative;
  right: 0;
  grid-template-rows: auto 1fr auto;
  transition: right 0.3s;

  min-block-size: 100vh;
}

.wrapper__main-content.burger-active {
  right: 200px;
  inline-size: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
  min-block-size: 45px;
}

.header__wallet-link {
  display: flex;
  column-gap: 5px;
  align-items: center;
  color: var(--color-dark);
  font-size: 14px;
}

.icon {
  aspect-ratio: 1 / 1;
  inline-size: 18px;
}

.icon--wallet {
  inline-size: 26px;
  block-size: 22px;
}

.icon--notification {
  inline-size: 120px;
}

.icon--cross {
  inline-size: 16px;
}

.header__main-content {
  display: flex;
  column-gap: 20px;
  align-items: center;
  order: 4;
}

.header__logged-block {
  display: none;
}

.header__logged-block.logged {
  display: flex;
}

.header__burger-wrapper {
  padding-block: 8px;
}

.header__burger-btn {
  display: flex;
  position: relative;
  transition: all 0.4s ease;
  border: none;
  background: var(--color-accent);
  padding-inline-start: 0;
  inline-size: 20px;
  block-size: 2px;
}

.header__burger-btn::before,
.header__burger-btn::after {
  position: absolute;
  transition: all 0.4s ease;
  background: var(--color-accent);
  inline-size: 20px;
  block-size: 2px;
  content: '';
}

.header__burger-btn::before {
  translate: 0 -7px;
}

.header__burger-btn::after {
  translate: 0 5px;
}

.header__burger-btn.is-active {
  translate: -25px 0;
  background: transparent;
}

.header__burger-btn.is-active::before {
  translate: 35px 0;
  rotate: 45deg;
}

.header__burger-btn.is-active::after {
  translate: 35px 0;
  rotate: -45deg;
}

.wrapper__main-content.burger-active + .burger-content.active {
  right: 0;
  transition: right 0.3s;
}

.header__language-block {
  display: flex;
  column-gap: 10px;
}

.header__logo-link {
  color: var(--color-dark-gray);
  font-weight: 500;
}

.header__logo-link.active {
  color: var(--color-accent);
}

.title-block {
  margin-block-end: 25px;
  border-radius: var(--br-radius);
  background: var(--color-light-alt);
  padding: 25px;
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.4;
}

.report {
  margin-block-end: 15px;
  border-radius: var(--br-radius);
  background: var(--color-light-alt);
  padding: 50px 24px;
  text-align: center;
}

.report__title {
  margin-block-end: 30px;
  font-size: 18px;
}

.report__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 9px;
  row-gap: 20px;
  justify-content: space-between;
}

.report-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 20px;
  border: 1px solid var(--color-accent);
  border-radius: var(--br-radius);
  background: transparent;
  padding-inline: 10px;
  inline-size: 100%;
  block-size: var(--button-height);
  color: var(--color-accent);
  font-weight: 600;
  font-size: 13px;
}

.report-button--alt {
  margin-block-end: 10px;
  background: var(--color-light);
  color: var(--color-accent);
}

.report__example-price-block {
  display: flex;
  column-gap: 5px;
}

.report__example-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report__example-old-price {
  color: var(--color-red);
}

.report__example-new-price {
  font-weight: 600;
}

.main-section {
  border: 1px solid var(--color-gray);
  border-radius: var(--br-radius);
  padding-block: 55px;
  inline-size: 100%;
}

.form {
  margin-inline: auto;
  max-inline-size: 325px;
}

.search__idnv-block {
  display: none;
  row-gap: 15px;
  flex-direction: column;
  align-items: center;
  margin-block-end: 25px;
}

.search__idnv-block.active {
  display: flex;
}

.search__idnv-message {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  text-align: center;
}

.search__idnv-alert {
  color: var(--color-orange);
  font-size: 23px;
  text-align: center;
}

.search__idnv-link {
  color: var(--color-accent);
}

.search__checkbox-wrapper {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  align-items: start;
  margin-block-end: 40px;
}

.input {
  outline: transparent;
  border: 1px solid var(--color-gray);
  border-radius: var(--br-radius);
  padding: 15px;
  inline-size: 100%;
  block-size: var(--input-height);
}

.input:focus {
  transition: var(--transition-duration);
  border-color: var(--color-dark-gray-alt);
}

.input--password {
  padding: 15px;
}

.input-wrapper--state {
  justify-content: space-between;
  align-items: center;
  outline: transparent;
  border: 1px solid var(--color-gray);
  border-radius: var(--br-radius);
  padding: 8px 8px 8px 53px;
  inline-size: 100%;
  block-size: var(--input-height);
}

.input-mini {
  top: 4px;
  outline: transparent;
  border: 1px solid transparent;
  border-radius: var(--br-radius);
  background: transparent !important;
  inline-size: 100%;
  max-inline-size: 110px;
  block-size: 50px;
  font-size: 30px;
  font-family: 'FE-font', sans-serif;
  text-align: center;
}

.input-mini:focus {
  transition: var(--transition-duration);
  border-color: var(--color-dark-gray-alt);
}

.icon--circle {
  inline-size: 100%;
  max-inline-size: 20px;
  block-size: 100%;
}

.input-mini--letters {
  left: 54px;
}

.input-mini--numbers {
  right: 10px;
}

.search__state-number,
.search__vin-code {
  user-select: none;
}

.input-wrapper--state,
.input-wrapper--vin {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  border: 1px solid var(--color-dark-gray-alt);
  border-radius: 2px;
  aspect-ratio: 1 / 1;
  inline-size: 13px;
}

.custom-checkbox::after {
  display: none;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background: url(../media/icons/check.svg) center/contain no-repeat;
  aspect-ratio: 1/1;
  inline-size: 13px;
  content: '';
}

.checkbox-hidden:checked + .custom-checkbox {
  border: var(--color-accent);
  background-color: var(--color-accent);
}

.checkbox-hidden:checked + .custom-checkbox::after {
  display: block;
}

.search__automobile:has(.search__checkbox--state:checked) .input-wrapper--state {
  display: flex;
}

.search__automobile:has(.search__checkbox--vin:checked) .input-wrapper--vin {
  display: block;
}

.input-wrapper {
  position: relative;
  margin-block-end: 25px;
}

.input-wrapper--phone-number {
  margin-block-end: 45px;
}

.search__input-flag-decor {
  position: absolute;
  top: 7px;
  left: 10px;
  border-radius: var(--br-radius);
  background: var(--color-blue);
  padding: 5px 7px;
  inline-size: 40px;
  block-size: 45px;
  color: var(--color-light);
  font-size: 14px;
  text-align: center;
}

.input--state {
  padding: 8px 8px 8px 60px;
}

.input--vin {
  padding: 8px;
}

.input--vin::placeholder {
  color: var(--color-gray);
  font-size: 20px;
}

.label {
  display: block;
  margin-block-end: 25px;
  text-align: center;
}

.phone-number__input-decor-prefix {
  display: flex;
  position: absolute;
  top: 19px;
  left: 18px;
  column-gap: 8px;
  font-weight: 600;
}

.input--phone-number {
  padding: 8px 8px 8px 99px;
}

.select-box {
  position: relative;
  width: 100%;
  max-width:360px;
  margin: 10px auto;
}
.select-box input {
  width: 100%;
  font-size: 1.1rem;
  border: .1rem solid transparent;
  outline: none;
}

.selected-option {
  background-color: #f7f7f8;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: transparent;
  border: 1px solid var(--color-gray);
  border-radius: var(--br-radius);
  padding: 15px;
  block-size: var(--input-height);
}

.selected-option div{
  position: relative;
  width: 8rem;
  text-align: center;
  cursor: pointer;
}

.selected-option div::after{
  position: absolute;
  content: "";
  right: .8rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);

  width: .8rem;
  height: .8rem;
  border-right: .12rem solid var(--primary);
  border-bottom: .12rem solid var(--primary);

  transition: .2s;
}

.selected-option div.active::after{
  transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
  position: absolute;
  top: 4rem;
  width: 100%;
  background-color: #fff;
  border-radius: .5rem;
  display: none;
}
.select-box .options.active {
  display: block;
  z-index:5;
}
.select-box .options::before {
  position: absolute;
  content: "";
  left: 1rem;
  top: -1.2rem;
  width: 0;
  height: 0;
  border: .6rem solid transparent;

}

.select-box ol {
  list-style: none;
  max-height: 23rem;
  overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
  width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
  width: 0.4rem;
  height: 3rem;
  background-color: #ccc;
  border-radius: .4rem;
}

.select-box ol li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.select-box ol li.hide {
  display: none;
}

.select-box ol li:not(:last-child) {
  border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
  background-color: lightcyan;
}

.select-box ol li .country-name {
  margin-left: .4rem;
}

.password {
  display: none;
}

.password.active {
  display: block;
}

.password__input-pass-control {
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
  border: none;
  background-image: url(../media/icons/eye-view.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  aspect-ratio: 1 / 1;
  inline-size: 20px;
}

.password__input-pass-control.view {
  background-image: url(../media/icons/eye-no-view.svg);
}

.password__restore-block {
  display: none;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  margin-block-end: 25px;
}

.password__restore-block.view {
  display: flex;
}

.button--restore {
  transition: var(--transition-duration);
  border-color: var(--color-accent);
  background: var(--color-accent);
  color: var(--color-light);
}

.search__agreement-block {
  margin-block-end: 10px;
  text-align: center;
}

.search__agreement-label {
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  user-select: none;
}

.search__agreement-custom-checkbox {
  display: inline-block;
  position: relative;
  flex: none;
  border: 1px solid var(--color-dark-gray-alt);
  border-radius: 2px;
  aspect-ratio: 1 / 1;
  inline-size: 13px;
}

.search__agreement-custom-checkbox::after {
  display: none;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background: url(../media/icons/check.svg) center/contain no-repeat;
  aspect-ratio: 1/1;
  inline-size: 13px;
  content: '';
}

.search__agreement-checkbox:checked + .search__agreement-custom-checkbox {
  border: var(--color-accent-alt);
  background-color: var(--color-accent-alt);
}

.search__agreement-checkbox:checked + .search__agreement-custom-checkbox::after {
  display: block;
}

.search__agreement-link {
  color: var(--color-blue-alt);
}

.contacts {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
}

.contacts--burger {
  row-gap: 15px;
  flex-direction: column;
  padding-block: 10px;
}

.contacts--burger .contacts__content-wrapper {
  row-gap: 5px;
  flex-direction: column;
}

.contacts--burger .button {
  border-color: var(--color-light);
  color: var(--color-light);
}

.contacts__content-wrapper {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.contacts--burger .contacts__mail-text::before {
  background: url(../media/icons/envelope-alt.svg) center/contain no-repeat;
}

.contacts--burger .contacts__whatsapp-text::before {
  background: url(../media/icons/whatsapp-alt.svg) center/contain no-repeat;
}

.contacts__mail-text,
.contacts__whatsapp-text {
  position: relative;
}

.contacts__mail-text::before {
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  left: calc((14px + 3px) * -1);
  background: url(../media/icons/envelope.svg) center/contain no-repeat;
  inline-size: 14px;
  block-size: 11px;
  content: '';
}

.contacts__whatsapp-text::before {
  display: block;
  position: absolute;
  top: calc(50% - 7px);
  left: calc((14px + 3px) * -1);
  background: url(../media/icons/whatsapp.svg) center/contain no-repeat;
  inline-size: 14px;
  block-size: 14px;
  content: '';
}

.button {
  border: 1px solid;
  border-radius: var(--br-radius);
  padding: 6px 10px;
  font-weight: 500;
  font-size: 12px;
}

.button--alt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  border: 1px solid var(--color-accent-alt);
  border-radius: var(--br-radius);
  background: var(--color-accent-alt);
  inline-size: 100%;
  max-inline-size: 290px;
  block-size: var(--button-height);
  color: var(--color-light);
  font-weight: 700;
  font-size: 14px;
}

.button--mail {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.button--whatsapp {
  border-color: var(--color-accent-alt);
  color: var(--color-accent-alt);
}

.button--idnv {
  border-color: var(--color-accent);
  background: var(--color-accent);
  inline-size: 100%;
  max-inline-size: 290px;
  color: var(--color-light);
}

.footer__inner {
  border-radius: 4px 4px 0 0;
  background: var(--color-dark-alt);
  padding: 25px;
  inline-size: 100%;
  min-block-size: 173px;
}

.footer__top-line {
  display: flex;
  justify-content: space-between;
}

.footer__compliance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 13px;
}

.footer__agreement-text {
  color: var(--color-gray-alt);
}

.footer__link {
  color: var(--color-light);
  font-weight: 500;
  font-size: 13px;
  text-decoration: underline;
}

.footer__privacy-block {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
}

.footer__logos-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logos-inner {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  align-items: end;
}

.footer__bottom-line {
  display: flex;
  justify-content: space-between;
}

.footer__link--cookies {
  block-size: 20px;
}

.footer__copyright-text {
  margin-block-start: 37px;
  color: var(--color-gray-alt);
  font-size: 13px;
}

.burger-content {
  position: fixed;
  top: 0;
  right: -200px;
  transition: right 0.3s;
  background: var(--color-accent);
  padding: 22px 10px 25px;
  inline-size: 200px;
  block-size: 100%;
  color: var(--color-light);
  font-size: 14px;
}

.burger-content__login-status {
  display: flex;
  column-gap: 5px;
  align-items: center;
  margin-block-end: 15px;
  padding: 10px 5px;
}

.burger-content__links-wrapper {
  display: flex;
  flex-direction: column;
}

.burger-content__reports {
  padding: 10px 5px;
}

.burger-content__report-text {
  margin-block-end: 5px;
}

.burger-content__links-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  border: 1px solid var(--color-light);
  border-radius: var(--br-radius);
  block-size: var(--button-height);
  color: var(--color-light);
}

.select {
  margin-block-end: 25px;
  outline: none;
  border: 1px solid var(--color-gray);
  border-radius: var(--br-radius);
  padding: 15px;
  inline-size: 100%;
  max-inline-size: 320px;
  block-size: var(--input-height);
  font-size: 20px;
}

.select:focus {
  transition: var(--transition-duration);
  border-color: var(--color-dark-gray-alt);
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border: 1px solid var(--color-light);
  border-radius: 20px;
  padding: 0;
  overflow: visible;
  content: '';
  text-align: center;
}

.dialog::backdrop {
  background-color: #0000004d;
}

.dialog__inner {
  position: relative;
  padding: 20px;
  inline-size: 320px;
}

.dialog__button-close {
  display: flex;
  position: absolute;
  top: -70px;
  right: 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  inline-size: 40px;
}

@media (768px > width) {
  .header__inner {
    align-items: center;
    padding-block: 20px 15px;
    min-block-size: 90px;
  }

  .header__burger-btn::before {
    translate: 0 -5px;
  }

  .header__partner-logo {
    order: 1;
    inline-size: 36px;
    block-size: auto;
  }

  .header__logged-block {
    order: 3;
  }

  .header__project-logo,
  .footer__logo--project {
    order: 2;
    inline-size: 70px;
    block-size: auto;
  }

  .report__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .report__example-price-block {
    justify-content: center;
  }

  .main-section {
    padding: 55px 25px;
  }

  .button--alt {
    max-inline-size: 100%;
  }

  .contacts {
    row-gap: 15px;
    flex-direction: column;
  }

  .footer .container {
    display: contents;
  }

  .footer__bottom-line {
    row-gap: 24px;
    flex-direction: column;
  }

  .footer__copyright-text {
    margin-block-start: 0;
  }
}

@media (390px > width) {
  .search__agreement-label {
    align-items: baseline;
    text-align: left;
  }

  .report__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (hover: hover) {
  .header__logo-link:hover {
    opacity: 0.7;
    transition: var(--transition-duration);
  }

  .header__wallet-link:hover {
    opacity: 0.8;
    transition: var(--transition-duration);
  }

  .report-button:hover {
    transition: var(--transition-duration);
    background: var(--color-accent);
    color: var(--color-light);
  }

  .search__idnv-link:hover {
    opacity: 0.8;
    transition: var(--transition-duration);
  }

  .search__agreement-link:hover {
    opacity: 0.8;
    transition: var(--transition-duration);
  }

  .button--alt:hover {
    transition: var(--transition-duration);
    background: transparent;
    color: var(--color-accent-alt);
  }

  .button--mail:hover {
    transition: var(--transition-duration);
    background: var(--color-accent);
    color: var(--color-light);
  }

  .button--whatsapp:hover {
    transition: var(--transition-duration);
    background: var(--color-accent-alt);
    color: var(--color-light);
  }

  .button--restore:hover,
  .button--idnv:hover {
    transition: var(--transition-duration);
    background: transparent;
    color: var(--color-accent);
  }

  .footer__logo:hover {
    opacity: 0.8;
    transition: var(--transition-duration);
  }

  .footer__link:hover {
    text-decoration: none;
  }
}

@media (hover: none) {
  .header__logo-link:active {
    opacity: 0.7;
  }

  .header__wallet-link:active {
    opacity: 0.8;
  }

  .report-button:active {
    background: var(--color-accent);
    color: var(--color-light);
  }

  .report-button--alt:active {
    border: 1px solid var(--color-light);
    background: transparent;
    color: var(--color-light);
  }

  .search__idnv-link:hover {
    opacity: 0.8;
  }

  .search__agreement-link:active {
    opacity: 0.8;
  }

  .button--alt:active {
    background: transparent;
    color: var(--color-accent-alt);
  }

  .contacts--burger .button:active {
    background: var(--color-light);
    color: var(--color-accent);
  }

  .button--mail:active {
    background: var(--color-accent);
    color: var(--color-light);
  }

  .button--whatsapp:active {
    background: var(--color-accent-alt);
    color: var(--color-light);
  }

  .button--restore:active,
  .button--idnv:active {
    background: transparent;
    color: var(--color-accent);
  }

  .footer__logo:active {
    opacity: 0.8;
  }

  .footer__link:active {
    text-decoration: none;
  }
}
